# Игнорировать все файлы и директории, начинающиеся с точки
.*
# Игнорировать директорию с виртуальным окружением
venv/
env/
# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
# Игнорировать файлы и директории, связанные с IDE
.vscode/
.idea/
# Игнорировать логи и временные файлы
*.log
*.tmp
# Игнорировать файлы зависимостей, которые будут установлены в контейнере
requirements.txt
Pipfile
Pipfile.lock
# Игнорировать директорию с билдами
build/
dist/
*.egg-info/
# Игнорировать тестовые данные и директории
tests/
test/
# Игнорировать файлы конфигурации CI/CD
.gitlab-ci.yml
.travis.yml
.github/
# Игнорировать файлы и директории, связанные с Docker
Dockerfile
.dockerignore
# Игнорировать другие специфичные для проекта файлы и директории
data/
logs/